@page "/"

<body>
    <h1>Web Api</h1>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top p-3" src="./../resourses/students.png" alt="Students" width="30%">
                    <div class="card-body">
                        <a href="studentsList" class="btn btn-outline-primary d-block mx-auto">Estudiantes 
                            <i class="bi bi-arrow-right-circle"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img class="card-img-top p-3" src="./../resourses/university.png" alt="Faculties" width="30%">
                    <div class="card-body">
                        <a href="Faculties/List" class="btn btn-outline-success d-block mx-auto">Facultades 
                        <i class="bi bi-arrow-right-circle"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top p-3" src="./../resourses/homework.png" alt="Faculties" width="30%">
                    <div class="card-body">
                        <a href="Course/List" class="btn btn btn-outline-secondary d-block mx-auto">Materias 
                        <i class="bi bi-arrow-right-circle"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
