@page "/"

<body>
    <h1>Web Api</h1>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top p-3" src="./../resourses/students.png" alt="Students" width="30%">
                    <div class="card-body">
                        <a href="students" class="btn btn-primary card-title">Estudiantes ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

