@page "/students"
<PageTitle>Estudiantes</PageTitle>

<div class="container">
    <h2>Listado de estudiantes</h2>
    <a href=""> <em>Add Student</em> </a>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Identificación</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Edad</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                    </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </div>
</div>