@page "/addCourses"

@using WEB_API_FRONTEND.Models
@using WEB_API_FRONTEND.Interface

@inject InterfaceCourse _interfaceCourse

<div class="container border border-dark rounded m-2 p-4">
    <div class="row">
        <div class="col">
            @for (int i = 0; i < listCourses.Count; i++)
            {
                @for (int j = 0; j < studentCourse.Courses.Count; j++)
                {
                    @if (listCourses[i].NameCourse == studentCourse.Courses[j].NameCourse)
                    {
                        <div class="form-check form-check-inline">
                            <input checked class="form-check-input" type="checkbox" value="@listCourses[i].NameCourse" id="checkCourse" />
                            <label class="form-check-label" for="checkCourse">
                                @studentCourse.Courses[j].NameCourse
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="@listCourses[i].NameCourse" id="checkCourse" />
                            <label class="form-check-label" for="checkCourse">
                                @listCourses[i].NameCourse
                            </label>
                        </div>
                    }
                }

            }
        </div>
    </div>
</div>

@code {
    private List<Course> listCourses = new List<Course>();
    [Parameter] public StudentCourse studentCourse { get; set; } = new StudentCourse();
    protected override async Task OnInitializedAsync()
    {
        listCourses = await _interfaceCourse.GetAll();

    }
}